name: benchmark

on:
  workflow_dispatch:

permissions:
  contents: read

env:
  JDK: '21'
  DISTRIBUTION: 'zulu'
  GRADLE_COMMAND: './gradlew --no-daemon'

jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK ${{ env.JDK }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JDK }}
          distribution: ${{ env.DISTRIBUTION }}
      - name: JMH
        run: ${{ env.GRADLE_COMMAND }} clean :zuul-core:jmh
